

    <footer class="pie-pagina ">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="/static/img/LOGO-WEB-BLANCO.png" alt="logo unemi">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p></p>
                <p></p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="https://facebook.com/Clubdemprendimiento.ec" target="_blank" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com/clubdemprendimiento.ec/" target="_blank"  class="fa fa-instagram"></a>
                </div>
            </div>
            <div class="box">
                <h2>CONTACTOS</h2>
                <p class="ax"><i class="fa-solid fa-phone"></i> + 593 0980879436 </p>
                <p class="ax"><i class="fa-solid fa-phone"></i> + 593 0996161367</p>
                <p class="ax"><i class="fa-solid fa-envelope"></i>clubemprendimientounemi@gmail.com</p>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; <b>Club Emprendimiento</b> - Todos los Derechos Reservados</small>
        </div>
    </footer>


